@charset "utf-8";
/* CSS Document */

html,p, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, pre, form, fieldset, table, th, td, span{padding:0;margin:0px auto;  }
 
   
a{ color:#000000;text-decoration:none;} 
body{ background-color:#fff;}

.top{background:#f7f7f9 url(../image/logo.jpg) center no-repeat; height:45px; border-bottom:1px solid #dcdcdc; width:100%;}

.top a{float:left; display:block; width:20px; height:20px; position:relative; top: 14px;}

.cate-bg1{ background:url(../image/main.png) no-repeat -4px -6px; background-size:6.1em; left: 15px;}

.cate-bg2{ background:url(../image/main.png) no-repeat -40px -6px; background-size:6.1em;}

.cate-bg3{ background:url(../image/main.png) no-repeat -72px -6px; background-size:6.1em;left: 15px;}

.select_bg{border-radius:13px; height:26px; width:90%; background:#fff; position:absolute; top:8px; left:5%; z-index:9999;}

.select_box{width:80%; float:left; margin-left:15px; border:none; outline:none; height:24px; font-size:12px;}

.select_but{width:40px; height:20px; float:right;  background:url(../image/main.png) no-repeat -0px -20px; background-size:6.1em;left: 15px;    border:none; outline:none; height:24px; font-size:12px;}

.nav{width:90%; margin:auto;margin-top:20px; line-height:30px;    height:110px; border-bottom:solid 1px #c5c5c5; }

.nav a{width:25%;   text-align:center; float:left; font-size:12px; }

.zhanshi{width:100%; float:left;   display:block; float:left; width:33%;   overflow:hidden; margin-top:10px; text-align:center;}

.box {                      /*文字透明度*/
 background-color: rgba(0,0,0,0.6);            /*背景透明度*/ 
 display:block; width:95%; height:26px; text-align:center;   color:#FFF; position:relative; top:-28px; left:0px; font-size:12px; line-height:26px; overflow:hidden;            
 }
.box1 {                      /*文字透明度*/
 background-color: rgba(0,0,0,0.6);            /*背景透明度*/ 
 display:block; width:100%; height:26px; text-align:center;   color:#FFF; position: position:relative; top:-28px; left:0px; font-size:12px; line-height:26px; overflow:hidden;            
 }
 
 .secbox{overflow:hidden; width:100%;}
 .secbox img{width:100%; float:left;}
 .backtopbox{background-color:#f2f2f2; width:100%; height:40px;}
  
 a.backtop{display:block; float:right; padding:5px; background:#aaa ; margin-top:10px; font-size:12px; color:#fff; margin-right:5%; border-radius:5px;}


.foot{background-color:#fff; width:100%; height:35px; border:solid #ccc   1px; border-left:none;border-right:none;font-size:12px; color:#666; line-height:36px;  }
.foot_{margin:auto; width:200px; margin-top:10px;}

.foot a {line-height:16px; color:#666;
width:55px;
	display:block; height:16px; 
	text-indent:2em; float:left;
border-right: 1px solid #AFABA5; 
text-decoration: none; float:left;}

a.foot1{
background: url(../image/main.png) no-repeat -50px -49px; 
background-size: 6.2em;}
a.foot2{
background: url(../image/main.png) no-repeat -50px -24px; 
background-size: 6.2em;}
a.foot3{
background: url(../image/main.png) no-repeat -50px -4px; width:80px; border:0px; 
background-size: 6.2em;}
 
 .setitle{width:100%; height:30px; line-height:30px; font-size:14px; font-weight:bold; text-align:center; margin-top:10px;}
 
 .showimg{ margin:auto; width:95%;   display:block; overflow:hidden;}
 .showimg1{ margin:auto; width:100%;   display:block; overflow:hidden;}

.showimg_{height:100%;  width:50%; float:left; display:block;}

.copyrig{background-color:#f2f2f2; width:100%; height:25px; line-height:25px; font-size:14px; text-align:center; color:#999;}

/*
@media screen and (max-width:960px){...}
@media screen and (max-width:768px){...}
@media screen and (max-width:320px){...}*/