@charset "gb2312";
.wzicolor333{    padding-bottom: 15px; font-size: 12px; font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei"; clear: both; margin: 0 auto;}
.wzicolor333 a:link, .wzicolor333 a:visited {
    color:#333;
    text-decoration: none
}
.wzicolor333 .gang_foot{margin: 0 5px;color: #cccccc}
.wzicolor333 a:hover {
    color: #df2f30;
    text-decoration: none
}

.wzicolor333 a:active {
    color: #df2f30
}

.wzicolorf00 a:link, .wzicolorf00 a:visited {
    color: #df2f30;
    text-decoration: none
}
.wzicolor333 .l24-tecen{line-height: 24px; text-align: center;}
.wzicolorf00 a:hover {
    color: #df2f30;
    text-decoration: none
}
.wzicolor333 .song{line-height:24px;position:relative;z-index:1;text-align:center}
.wzicolorf00 a:active {
    color: #df2f30;
}