.tbCmn
{
	font-size:12px;
	border-collapse:collapse;
	color:black;
	border:1px solid black;
}
.tbCmn td
{
	padding:8px 0px 0px 0px;
}

.tbCmn th,.tbCmn td
{
	height:25px;
	font-size:12px;
	text-align:center;
	border:1px solid black;
}
#top
{
  margin-top:150px;
  margin-bottom:20px;
  width:770px;
  text-align:left;
}
#bottom
{
text-align:left;
width:770px;
}
#execl
{
  width:300px;
  height:30px;
}
#btn_import
{
  width:100px;
  height:30px;
  float:left;
}
#btn_export
{
  width:100px;
  height:30px;
  float:left;
}
#import
{
  height:30px;
  width:100px;
}
#export
{
  height:30px;
  width:80px;
}
#showDiv
{
  border:2px solid #225d99;
  width:350px;
  height:160px;
  background-color:#e2ecf5;
  z-index:1000;
  display:none;
}
#show_top
{
height:20px;
background:#225d99;
color:#fff;
}  

#rig 
{
  height:15px;
  width:20px;
  padding-top:5px;
  float:left;
}
#close 
{
 color:#fff;
 text-decoration:none;
}
#delete
{
  border:none;
}
#menu
{
 font-size:13px;
 height:20px;
 width:330px;
 float:left;
}
#show_mark
{
 margin-top:30px;
 height:50px;
 width:340px;
}
#show_bottom
{
 height:30px;
 width:300px;
}
#put_mark
{
 height:30px;
 width:130px;
 float:left;
 padding-left:30px;
}
#cancel_mark
{
height:30px;
 width:100px;
 float:left;
}
#btn_puts
{
  width:80px;
  height:30px;
}
#btn_cancels
{
width:80px;
  height:30px;
}
#left_mark
{
 height:30px;
 width:100px;
 float:left;
 color:red;
 margin-left:30px;
}
#right_mark
{
  height:30px;
 width:166px;
 float:left;
}
#now_marks
{
 height:25px;
}
#mark_notic
{
 height:25px;
 width:40px;
 color:red;
 float:left;
 display:none;
}
#have_drop
{
  height:300px;
  width:800px;
  border:1px solid black;
  display:none;
}