body {
	margin: 0;
	padding: 0;
	font-family: SimHei, 'Helvetica Neue', Arial, 'Droid Sans', sans-serif;
}

button,
select {
	-webkit-appearance: none;
}

ul,
p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

input {
	outline: none;
}

a {
	text-decoration: none;
}
.log_div1{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.log_div1 img{  
	width: 100%;
}
.log_div2{
	width: 90%;
	margin: auto;
	height: auto;
	overflow: hidden;
	background-color: #ffffff;
	margin-top: 10px;
	padding-bottom:120px;
	margin-bottom: 50px;
}
.log_ul1{
	width: 80%;
	margin: auto;
	height: auto;
	margin-top: 20px;
}

.log_ul1 li{
	padding: 0 5px;
	background: #f1f1f1;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative;
}

.log_div3{
	width: 65%;
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 0.8em;
}
.log_div3 input{
	width: 60%;
	height: 35px;
	border: none;
	background-color: transparent;
}

.log_div4{
	width: 35%;
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 0.8em;
}

.log_div4 input{
	width: 40%;
	height: 35px;
	border: none;
	background-color: transparent;
}


.log_div5{
	width: 100%;
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 0.8em;
}
.log_div5 input{
	width: 73%;
	height: 35px;
	border: none;
	background-color: transparent;
}

.log_div6{
	width: 80%;
	float: left;
	background: transparent;
	height: 40px;
	line-height: 40px;
	font-size: 0.8em;
	text-align: center;
	color: #0d549d;
}

.log_div7{
	width: 20%;
	float: right;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #0d549d;
	border-top-right-radius:5px ;
	border-bottom-right-radius:5px ;
}
.log_div7 img{
	width: 18px;
	vertical-align: middle;
}
.log_div8{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	position: absolute;
	top: 40px;
	left: 0;
	z-index: 999;
	display: none;
}

.log_div8 ul{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 5px;
}

.log_div8 ul li{
	height: 30px;
	line-height: 30px;
	background-color: #f1f1f1;
	margin-bottom: 5px;
	border-radius: 0;
	font-size: 0.8em;
	text-indent: 0.5em;
	
}

.lo_ul1{
	width: 80%;
	margin: auto;
	height: auto;
	margin-top: 10px;
	background-color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 3px;
}

.lo_ul1 li{
	width: 80%;
	margin: auto;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 15px;	
}

.lo_div2{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.lo_div2 input{
	width: 80%;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	background-color: #0d549d;
	border-radius: 5px;
	border: none;
}






























