@charset "utf-8";
/* CSS Document */ 
html,body{min-height:100%;}
p{ padding:0px; margin:0px; }
body{ margin:0px; padding:0px; min-width:320px; background:#eee;font-family:微软雅黑; background-image:url(../img/body_bg.jpg); background-repeat:no-repeat; background-position:bottom; background-size:contain; padding-bottom:30px; font-size:14px;   }

a{ color:#333; text-decoration:none;}
 

img{ border:none;  width:100%; float:left;}

a.topbanner{width:90%; display:block; margin:auto; margin-top:20px; overflow:hidden;}

nav{ width:95%; margin:auto;   overflow:hidden;}

a.navbut{width:50%; display:block; float:left; margin:auto; margin-top:10px; overflow:hidden;}

.navbut img{ margin-left:5%; width:90%;}

.headline{ font-size:18px; font-weight:bold; line-height:18px; width:100%; text-indent:10px; margin:auto; margin-top:20px; height:18px;   color:#444; }

.sale{width:90%; margin:auto;overflow:hidden;border:solid #e5e5e5 1px; border-radius:5px;  }

.sale a{  border-radius:5px;  clear:both; clear:both;  overflow:hidden; display:block; margin-top:10px;  background-color:#fff;}

.sale span{ display:block;border-radius:5px;  width:80%; margin:auto; line-height:50px; height:50px; font-size:18px;    color:#000; overflow:hidden; }

.mid_reg{height:50px; line-height:50px; font-size:16px; width:90%; margin:auto; text-align:center; color:#4e4e4e;}

.reg_content{ width:90%; margin:auto; text-align:center;overflow:hidden;}
.reg_content input{width:90%; margin:auto; height:35px;  line-height:35px; border:#d1d1d1 1px solid;  outline:none; border-radius:5px; text-indent:1em; font-size:14px; color:#999; margin-top:10px;  }

.reg_contents{ width:90%; margin:auto; text-align:center;overflow:hidden;}
.reg_contents select{width:100%; margin:auto; height:35px;  line-height:35px; border:#d1d1d1 1px solid;  outline:none; border-radius:5px; text-indent:1em; font-size:14px; color:#999; margin-top:10px;  webkit-appearance: none; }
.cycle::-ms-expand { display: none; }

input.reg_cone{margin-top:0px;}
select.text{margin-top:0px;}
.agreement_box{margin:auto;text-align: left;  background:#f8f8f8; margin-top:200px; border-radius:5px; width:90%; margin-top:10px; height:100px;border:#d1d1d1 1px solid; overflow:auto; text-align:left; padding:10px 0px 10px 0px; }

.agreement_box_{margin:auto; text-align: left;  background:#f8f8f8; margin-top:200px; border-radius:5px; width:90%; margin-top:10px; padding-bottom: 10px;  border:#d1d1d1 1px solid; overflow: hidden; }

.agreement{font-size:16px; font-weight:bold; width:80%; margin:auto; height:50px; line-height:50px; color:#484848;}

.agreement_content{font-size:14px; width:80%;  margin:auto; line-height:20px; color:#666; white-space:pre-wrap;} 


.agreement_content_age{font-size:14px; width:80%;  margin:auto; line-height:20px; color:#666;}

input.clearbut{ width:16px; height:16px; background:none; border:1px solid #000; margin:0px; vertical-align:-3px;}

.clearbox{width:90%; margin:auto; margin-top:10px; font-size: 14px; color:#666; text-align:left; }

.personal_hearder{ width:90%;  margin:auto; margin-top:30px; box-shadow:0px 1px 1px 0px #ccc; background-color:#FFF; height:130px; border-radius:10px;color:#CA0A05;}

.personal_portrait{ position: relative; top:-20px; left: -10px;  float: left; background:#000; width:80px; height:80px; border-radius:100%; border:2px #fff solid; box-shadow:1px 0px 2px 1px #ccc; overflow:hidden;}


.personal_portrait img{ height:100%;}

.personal_petname{font-size:30px;  line-height:50px; float:left;}

.personal_message{ clear:both; float:right;  margin-top:10px; margin-top:-20px; width:auto; }

.personal_client{   width:auto; height:60px;  float:left; padding-right:10px;  }
 
.personal_client_{background:url(../img/person_KhIcon.jpg) no-repeat  left center; display:block;   height:30px; line-height:30px; margin-top:10px;  text-indent:35px; font-size:18px;  border-right:1px #CA0A05 solid; min-width:60px;}


.personal_brokerage{background:url(../img/person_YjIcon.jpg) no-repeat  left center; display:block;  height:30px; line-height:30px; margin-top:10px;  text-indent:35px; font-size:18px;   }


.sale_{width:90%; margin:auto;overflow:hidden;border:solid #e5e5e5 1px; border-radius:5px;box-shadow:0px 1px 1px 0px #ccc;   }

.sale_ a{  border-radius:5px;  clear:both; clear:both;  overflow:hidden; display:block; padding-bottom:10px;  background-color:#fff;}

.salespan{ display:block;border-radius:5px;  width:80%; margin:auto; line-height:50px; height:50px; font-size:18px;    color:#000; overflow:hidden; font-weight:bold; color:#666;  }

.personal_yjk{width:80%; margin:auto; line-height:25px; font-size:14px;  }

input.zc_but{ clear:both;  background-color:#F62D01;
        background-image:-webkit-linear-gradient(top,##F62D01,#E31D00);  color:#fff; text-align:center; text-indent:0px; color:#fff;}
.personal_fand{background-color:#3CF; border-radius:7px; padding:2px 10px; color:#fff;}

.personal_bz{width:80%; margin:auto; line-height:25px; font-size:14px; color:#333;}

.personal_bz span{display:block; color:#666;  }


.building_cent{width:90%; margin:auto; margin-top:10px; background-color:#FFF; overflow:hidden; }
.building_centitle{background:#eee; border-bottom:1px #ccc dashed; width:100%; line-height:40px;  height:40px; text-indent:1em; font-weight:bold; color:#666; font-size:16px;}
.building_centext{width:90%; margin:auto; line-height:20px; min-height:65px; overflow:hidden; color:#666;border-bottom:1px #ccc dashed;margin-top:10px;}
.building_more{width:100%; text-align:center; display:block; margin:auto; line-height:40px; text-align:center; color:#666;}

.showbox_yxlp{ position:absolute; left:0px; top:0px; height:100%; width:100%; background-color: rgba(0,0,0,0.6);   overflow:auto;   }

.showbox_yxlp_{width:80%; margin:auto; margin-top:50px; line-height:50px;  text-indent:10px; font-size:18px; border-radius:0px 0px 5px 5px; overflow:hidden;}

.showbox_yxlp_title{background-color:#F00; color:#fff; width:100%;}

.showbox_yxlp_ a{border-top:1px solid #ccc; width:100%; display:block; color:#000;background-color:#fff;}


.showbx_error{ width:70%; margin:auto; background-color:#fff; color:#ff0000; text-align:center; font-size:28px; font-weight:bold; border-radius:10px; border:1px solid #666; position:relative; top:40%;  padding-bottom:20px; text-align:center; line-height:50px; }

.showbx_error a{background:#ff0000; height:30px; width:30px; color:#fff;  border-radius:100%; float:right; font-weight:normal; font-size:30px; line-height:25px; display:block; position:relative; left:15px; top:-15px;}

.error_but{ clear:both; border:none; font-size:20px; outline:none; font-weight:bold;  background-color:#F62D01; border-radius:5px; line-height:30px; width:80%;
        background-image:-webkit-linear-gradient(top,##F62D01,#E31D00);  color:#fff; text-align:center; text-indent:0px; font-weight:100;}
		
.my_client_mycl{ background:#2D86E4; width:200px; height:40px; line-height:40px; margin:auto; border-radius:10px; text-align:center;  font-size:16px; color:#fff;}

.my_client_{width:95%; margin:auto; font-size:12px; text-align:left; color:#666; margin-top:20px;}

.my_client_top{text-align:center; overflow:hidden;}


.my_client_name{display:block; float:left; width:15%;}

.my_client_phone{display:block; float:left; width:25%;}

.my_client_lp{display:block; float:left; width:20%;}

.my_client_status{display:block; float:left; width:20%;}

.my_client_day{display:block; float:left; width:20%; color:#2D86E4;  }

a.my_client_a{display:block; margin:auto; width:50px; overflow:hidden; background-color:#2D86E4;border-radius:5px; color:#fff; margin-top:10px; overflow:hidden; height:20px; line-height:20px;}

.my_client_cli{text-align:center; height:40px; line-height:40px; background-color:#FBFBFB; margin-top:5px; border-radius:5px; box-shadow:1px -1px 1px 1px #e5e5e5;  color:#666; overflow:hidden;   }


.my_property_cli{text-align:center; height:40px; line-height:40px;  margin-top:0px; border-radius:5px;  color:#666; overflow:hidden;   }

.my_brokerage_top{width:50%;  float:left; overflow:hidden; border-radius:8px;}

.my_brokerage_suq{background:url(../img/myyj_bg.png)left  no-repeat  ; width:150px; height:60px; display:block;margin:auto; color:#fff; text-align:left; text-indent:1em; line-height:30px; overflow:hidden;}

.my_brokerage_moe{clear:both; text-align:right; width:110px; overflow:hidden; font-size:24px; }


.my_brokerage_cli{display:block; width:90%; margin:auto; height:50px; line-height:50px;  box-shadow:-1px 1px 1px 1px #e5e5e5; margin-top:20px; border-top:1px solid #dedede; color:#666; background: url(../img/brank.jpg)  10px center, url(../img/jt.fw.png)  right center; background-repeat:no-repeat; background-color:#f8f8f8; text-align:left; font-size:16px; text-indent:55px; border-radius:2px;    }

.my_brokerage_cli span{ margin-left:5px; font-size:12px;}

.my_brokerage_minxi{ width:90%; margin:auto;overflow:hidden; color:#666; text-align:center;  }
.my_brokerage_minxi span{ display:block; float:left;}
 
.my_brokerage_xianq{ clear:both; overflow:hidden; height:35px; width:90%; margin:auto; margin-top:10px;  text-align:left; }

.my_brokerage_xianq span{ display:block; float:left; margin-left:1%; color:#666; background-color:#f8f8f8; height:30px; line-height:30px;  text-indent:5px; font-size:14px; border-radius:3px; box-shadow:1px 1px 2px 0px #ccc; color:#666; font-size:12px; }

.my_reward_top{width:100%;  height:80px; line-height:80px; color:#2E89E4; text-align:center; font-size:20px; }

 
.my_reward_cli{ width:90%; margin:auto;  height:50px; line-height:50px; box-shadow:-1px 1px 1px 1px #e5e5e5;   margin-top:20px; color:#666;   text-align:left; font-size:14px;  border-radius:2px; text-align:center; overflow:hidden;color:#2E89E4;   }

.my_reward_cli_jifen{background:#f8f8f8 url(../img/jifen.jpg)  10px center no-repeat;  }

.my_reward_cli_quan{background:#f8f8f8 url(../img/quan.jpg)  10px center no-repeat;  }

.my_reward_cli_hbao{background:#f8f8f8 url(../img/hbao.jpg)  10px center no-repeat;  }

.my_reward_cli_card{background:#f8f8f8 url(../img/brank.jpg)  10px center no-repeat;     }

.my_reward_cli_fir{width:40%; float:left; text-align:left; text-indent:55px;  overflow:hidden;}

.my_reward_cli_oth{width:30%; float:left; overflow:hidden;}

.my_reward_cli_span{clear:both; display:block; width:50px;line-height:20px;  font-size:14px; color:#fff; background-color:#2E89E4; border-radius:5px; margin:auto;margin-top:15px;}

.my_reward_cli_span_none{clear:both; display:block; width:50px;line-height:20px;  font-size:14px; color:#fff; background-color:#666; border-radius:5px; margin:auto;margin-top:15px;}

.activity_box{background-color: rgba(250,250,250,0.5); width:90%; height:100%; margin:auto; overflow:hidden; margin-top:30px; font-size:30px; font-weight:bold; color:#555; line-height:80px; text-align:center; border-radius:10px; border:1px solid #e5e5e5; padding-bottom:20px;}


.activity_box_cli{font-size:14px; font-weight:normal; text-align:left; line-height:25px; width:90%; margin:auto;}

.customenr_top{ margin:auto; margin-top:30px; width:200px; height:35px;  text-align:center; border-radius:6px; background-color:#2E89E6;line-height:35px;  color:#fff; overflow:hidden; display:block; }

.cust_kh{float:left; width:100px; }

.cust_kh_{float:left; width:96px;line-height:31px; height:31px; margin-top:2px; margin-left:2px; background-color:#fff; color:#2E89E6; border-radius: 4px ;}

a.daofang_a{display:block; margin:auto; width:50px; overflow:hidden; background-color:#FA6348;border-radius:5px; color:#fff; margin-top:10px; overflow:hidden; height:20px; line-height:20px; }
span.daofang_a{display:block; margin:auto; width:50px; overflow:hidden; background-color:#FA6348;border-radius:5px; color:#fff; margin-top:10px; overflow:hidden; height:20px; line-height:20px; }
a.daofang_a_{display:block; margin:auto; width:50px; overflow:hidden; background-color:#666;border-radius:5px; color:#fff; margin-top:10px; overflow:hidden; height:20px; line-height:20px; }
span.daofang_a_{display:block; margin:auto; width:50px; overflow:hidden; background-color:#666;border-radius:5px; color:#fff; margin-top:10px; overflow:hidden; height:20px; line-height:20px; }
span.daofang_a__{display:block; margin:auto; width:50px; overflow:hidden; background-color:#4595F4;border-radius:5px; color:#fff; margin-top:10px; overflow:hidden; height:20px; line-height:20px; }

input.fpei{ vertical-align:-5px; border-color:#ff0000; color:#039; width:15px;  height:15px;}

.cust_fpeicg{clear:both; width:200px; height:50px; background-color:#31ABD4; margin:auto; text-align:center; color:#fff; border-radius:10px;}



.touxianga{ background:#000 url(../img/tx_.jpg) no-repeat center;}


/* chancle 集房网新增样式 */
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	/*background-color: black;*/
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=88);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 43%;
	width: 15%;
	height: 30%;
	padding: 5px;
	/*border: 10px solid orange;*/
	background-color: white;
	z-index:1002;
	overflow: auto;
}
.search_div{
	margin-top: 10px;
	text-align: center;
}
.sear_inp{
	width: 50%;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	border: none;
	vertical-align: middle;
}
.sear_btn{
	width: 15%;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	border: none;
	background-color: #2D86E4;
	color: #fff;
	vertical-align: middle;
}
.times{
	width: 25%;
	width: 70px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: none;
	vertical-align:middle;
	background-color: #fff;
}
/*返回样式*/
.goback{
	width:100%;
	height:40px;
	line-height:40px;
	background-color:#df3001;
	color: #fff;
	text-align:center;
	position: fixed;
    top: 0px;
}
.goback a{
	display: inline-block;
    color: #fff;
    font-size: 20px;
    line-height: 37px;
	position: absolute;
    left: 0px;
}
.w20{
	width:20%;
	float:left;
}
.w25{
	width:25%;
	float:left;
}
.w30{
	width:30%;
	float:left;
}
.w35{
	width:35%;
	float:left;
}
.w40{
	width:40%;
	float:left;
}
.w45{
	width:45%;
	float:left;
}
.w50{
	width:50%;
	float:left;
}
.jjr_sz {
    display: block;
    position: absolute;
    left: 70%;
    top: 40px;
    height: 40px;
    width: 40px;
}
.jjr_sz img{
    width:100%;
}
input.logout{
	background-color: #45de31;
}
.tsmsg{
	width:90%;
	display:inline-block;
	color: #d64f4f;
	text-align:left
}
.reg_content .info{
	width:100%;
}
.reg_content .name{
	width:40%;
	float:left;
	text-align: right;
}
.reg_content .value{
	width:58%;
	float:right;
	display:inline-block;
	text-align:left
}

