@charset "utf-8";
/* CSS Document */ 
body,html{min-height:100%;}
body{ padding:0px; margin:0px; min-width:320px;}
p{padding:0px; margin:0px;}
.wait{ width:100%; max-width:640px; margin:auto; position:relative; min-height:100%; overflow:hidden; }
.kon_t{ display:block; width:100%; height:50px; }

.fx_txiang{ width:90%; margin:auto; position:relative; overflow:hidden;}

.fx_txiang img{ float:left; width:100%;}

.fx_grmas{ width:100%; text-align:center; margin:auto; color:#fff; font-size:25px; font-weight:bold; font-family:黑体; line-height:30px; position:absolute; top:55%; left:0px;     }

.fx_grmas span{ font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;  }

.txiang_cli{ width:90%; margin:auto; margin-top:10px;  }

a.txiang_cli_{ background:#fff; width:95%; margin:auto; height:40px; line-height:40px; border-radius:5px; text-indent:2em; margin-top:10px; font-size:14px; font-weight:bold; color:#666; display:block; text-decoration:none;}


.foot{ position:absolute; top:100%; left:0px; height:50px; background:rgba(255,255,255,0.8); width:100%; margin-top:-50px;}

.foot_{ position:inherit;top:0px;   margin-top:10px; }

.foot a{ display:block; float:left; width:33%; height:100%; }

a.foot_drhd{ background:url(../img/drhd.png) center center no-repeat ; background-size:55px;}
a.foot_drhd_{ background:url(../img/drhd_.png) center center no-repeat ; background-size:55px; background-color:rgba(220,227,233,0.8); }
a.foot_wdhd{ background:url(../img/wdhd.png) center center no-repeat ; background-size:55px; width:34%;}
a.foot_wdhd_{ background:url(../img/wdhd_.png) center center no-repeat ; background-size:55px; width:34%; background-color:rgba(220,227,233,0.8); }
a.foot_grzx{ background:url(../img/grzx.png) center center no-repeat ; background-size:55px;}
a.foot_grzx_{ background:url(../img/grzx_.png) center center no-repeat ; background-size:55px;  background-color:rgba(220,227,233,0.8); }



.wdhd_cli{ display:block; width:90%; background:#fff; margin:auto;     border-radius:6px;  text-decoration:none; margin-bottom:10px;  }
.wdhd_cli span{display:block; width:90%; margin:auto; }


.loupan_name{  line-height:40px; font-size:14px; font-weight:bold; font-family:宋体; color:#3e3e3e;}
.loupan_img{display:block; width:95%; margin:auto; position:relative; }
img.foot_hrxsz{ width:80px; position:absolute; top:0px; left:100%; margin-left:-75px;margin-top:-5px;}

.huodongjl{    line-height:22px; font-size:14px; font-weight:bold; color:#a6a6a6; padding-top:10px;     }
.wdhd_cli span.hudonclia{ display:inline; padding-left:10px;  color:#3e3e3e;   font-weight:100;}

a.aniu{display:block; float:left; margin:5%; width:40%; text-align:center; background:#ef4545; color:#fff; height:40px; line-height:40px; border-radius:5px; text-decoration:none; font-size:14px;}

.huodongguiz{ width:90%; margin:auto; background:#fff; border-radius:6px; min-height:60px; padding-bottom:20px;}

.huodongguiz_title{ width:95%; margin:auto; height:40px; line-height:40px; color:#954c60; font-weight:bold; text-align:center; font-size:16px; border-bottom:1px solid #ccc;}

.hdgz_cli{ width:90%; margin:auto; font-size:14px; color:#777777; line-height:26px; margin-top:10px;}

.hdgz_cli span{ font-weight:bold; margin-right:10px; }

.kft_hong{position:absolute; width:80px; height:80; top:20px; left:20px;}
.kft_gth{position:absolute; width:95%; height:80; top:30px; left:0px; text-align:right;}

.kft_cli{ width:300px; height:330px; position:absolute; top:50%; margin-top:-165px; left:50%; margin-left:-150px; background:url(../img/kft.png) no-repeat center;}
.kft_canyu{ position:absolute; width:80px; height:50px; left:72%; top:0px; background:url(../img/kftrs.png) no-repeat ; padding-top:30px; color:#f00; font-size:12px; font-weight:bold; text-align:center; }
.kft_titcli{ position:absolute; width:200px; text-align:center; top:60%; left:50%; margin-left:-100px; color:#FFF; font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.kft_titcli span{ font-size:20px; font-weight:100; font-family:黑体;}

a.yuyuekf{ display:block;color:#fff; position:absolute; top:82%; left:50%; width:260px; margin-left:-130px; text-align:center; text-decoration:none; background-color:#4ba0fa; height:54px; line-height:54px; border-radius:5px; font-weight:bold; font-size:26px; font-family:黑体}

a.jikeyuyue{display:block; width:150px; height:35px; line-height:35px; background:#ca2d42; text-align:center; font-size:18px; color:#fff; text-decoration:none; margin:auto; margin-top:10px; border-radius:5px; font-weight:bold;}

.jikeyuyuetitle{ margin:auto; width:240px; background:#f6376b; height:20px; line-height:20px; color:#fff; text-align:center; font-weight:bold; font-size:12px; margin-top:5px;}
 
 .xiangmuxiangq{ margin:auto; width:90%; background:#4ba0fa; height:30px; line-height:30px; color:#fff; text-align:center; font-weight:bold; font-size:12px; margin-top:10px;}
 
 .loupan_cli{ color:#000;   line-height:26px; font-size:14px;   width:90%; margin:auto; margin-top:10px;  }
 
 #showbox{ background-color:rgba(153,153,153,0.5); width:100%; height:100%; position:absolute; top:0px; left:0px;}
 
 .tanc{ position:absolute; top:50%; left:50%; width:280px; height:150px; background-color:#e4e4e4; margin-top:-75px; margin-left:-140px; padding-top:20px;}
 
 .tanc span{ display:block;   float:left; height:30px; line-height:30px; width:50%; font-size:16px; font-weight:bold;}
 
 
 span.tanc_nam{ width:35%; text-align:right; padding-right:5px;}
 
 
a.gbaa{ display:block; position:absolute; top:0px; left:100%; width:25px; height:25px; line-height:25px; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; margin-left:-25px; color:#fff; text-align:center;  background:#f6376b; border-radius:0px 0px 0px 8px;}

.showbox_yxlp{ position:absolute; left:0px; top:0px; height:100%; width:100%; background-color: rgba(0,0,0,0.6);   overflow:auto;   }
.showbx_error{ width:70%; margin:auto; background-color:#fff; color:#ff0000; text-align:center; font-size:28px; font-weight:bold; border-radius:10px; border:1px solid #666; position:relative; top:40%;  padding-bottom:20px; text-align:center; line-height:50px; }

.showbx_error a{background:#ff0000; height:30px; width:30px; color:#fff;  border-radius:100%; float:right; font-weight:normal; font-size:30px; line-height:25px; display:block; position:relative; left:15px; top:-15px;}
